@import './reset.css';
@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('./fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('./fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('./fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  src: url('./fonts/Poppins/Poppins-ExtraBold.ttf');
}
@tailwind utilities;

html {
  box-sizing: border-box;
  overflow: hidden;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  background-color: #FAFAFA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.datePicker input {
  border: solid 0.5px #A7A8E3;
  padding-left: 2rem;
  padding: 5px;
  width: 13rem;
  border-radius: 1rem;
  color: #383874;
  --tw-shadow: 0 20px 25px -5px rgba(134, 118, 255, 0.1), 0 10px 10px -5px rgba(134, 118, 255, 0.08);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}